<section class="search-form m-auto container pb-2">
  <div class="input-group mb-3">
    <input [(ngModel)]="filteredString" type="text" class="form-control" placeholder="Search Feed">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button"><i class="bi bi-search-heart-fill"></i></button>
    </div>
  </div>
</section>


<section class="feed-post mx-auto p-4">

  <div *ngFor="let data of data | filter: filteredString:['companyName','country']">
  <div class="card border-0 shadow mb-5">
    <div class="card-body">
      <p class="card-text w-100 country">{{ data.country }}</p>
      <div class="d-flex profile">
        <img src="{{data.profilePic}}" alt="Profile Image" class="img img-thumbnail shadow">
        <div class="d-block mx-3">
          <h6 class="card-title">{{ data.companyName }}</h6>
          <p class="card-text company-type">{{data.companyType}}</p>
          <div class="job-description">
            <p class="card-text w-100">
              {{ data.jobDescription }}
            </p>
            <p>Experience Required - {{data.yearOfExp}}+ yrs</p>
          </div>
          <div class="experties">
            <p class="d-inline" *ngFor="let skill of data.skills">{{skill}}</p>
          </div>

          <div class="w-100 mt-2">
            <div class="float-end">
            <button
              *ngIf="(isLoggedIn$ | async) && roleBaseAccess.isRoleUserTrue()"
              class="btn mx-1 float-sm-end float-sm-start apply px-4 py-1">Apply</button>
            <button
              (click)="detailView(data.companyId)"
              class="btn view px-4 py-1">View</button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</section>
