.header-text {
    height: 45vh;
    background: #ff5500;
    color: #fff;
  font-family: poppin bold, serif;
}
.header-text h2 {
  font-size: 3rem;
  font-family: "poppin bold", serif;
}

.bg-img1 {
    background: url('../../../assets/images/SVG.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    margin-top: -5px;

}

.search-form {
    max-width: 750px;
}
.search-form > .input-group {
    margin-top: -50px;
}
.search-form input {
    height: 50px;
}

.search-form button {
    height: 50px;
    border-radius: 10px 50px 50px 10px;
    box-shadow: 3px 5px 10px #0554ff63;
    font-size: 1.2rem;
}
.search-form input[type=text] {
    border-radius: 50px;
    border: none;
    background: #fff;
    box-shadow: 3px 5px 10px #53535352;
    padding: 0 30px;
}



.bg-img2-svg {
    filter: drop-shadow(-5px -13px 10px #ff550017);
}

.bg-img2-svg2 {
    filter: drop-shadow(5px 13px 10px #ff550017);
}
.user-cards-section {
    margin-top: -15px;
}
 .user-cards-section .card{
    max-width: 400px;
    border-radius: 20px;
    border: none;
    box-shadow: 3px 3px 10px rgba(150, 150, 150, 0.151);
    z-index: 2;
}
.user-cards-section .card:hover {
    box-shadow: 3px 3px 19px rgba(150, 150, 150, 0.288);
}
.user-cards-section .user-card-cover-image {
  width: auto;
  border-radius: 10px;
}



.user-cards-section .card .profile-pic {
    width: 80px;
    height: 80px;
    margin-top: -44px;
    border-radius: 50px;
    box-shadow: 3px 5px 10px #53535352;
}

.user-cards-section .card .profile-text{
    margin-top: -17px;
    line-height: 10px;
  font-family: poppin med;
}
.name {
  font-family: poppin med;
  font-size: 1.3rem;
  color: #fdfdfd;
}
.title {
  padding-top: 3px;
  font-family: poppin med;
  color: #6e6e6e;
}
.xp{
  font-family: poppin med;
  color: #35B6C2;
}
.cover {
  width: auto;
  height: 200px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}
.user-cards-section .card .btn-view {
    margin-top: -33px;
    padding: 0 40px;
    border-radius: 7px;
    background: #35B6C2;
    color: #fff;
}
.user-cards-section .card .btn-view:hover {
    background: #2b959e;
}

