<section class="header">
    <div class="header-text text-center p-5 position-relative">
      <div class="position-absolute top-50 start-50 translate-middle">
        <div style="margin-top: 200px;"></div>
       <h2 class="pb-2">Welcome</h2>
       <h2>To</h2>
       <h2 style="line-height: 70px">Portfolio Management System</h2>
    </div>
</div>

    <div class="bg-img1"></div>
</section>

<section class="search-form m-auto container">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search User">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button"><i class="bi bi-search-heart-fill"></i></button>
        </div>
      </div>
</section>


<svg class="bg-img2-svg mt-5 img img-fluid" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 205.04"><defs><style>.cls-1{fill:#fff;}</style></defs><path class="cls-1" d="M1920,484.76V559H0V467.56A915.61,915.61,0,0,1,231.72,398.1C462.07,361.59,557,439.69,778,456.39c312.23,23.58,363.14-114.2,671.55-101.62C1651.16,363,1813.69,429.37,1920,484.76Z" transform="translate(0 -353.96)"/></svg>


<section class="user-cards-section container">

  <div class="row">

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mx-auto mb-4">
        <div class="card-body  p-2">
          <!--  <div [style.background-image]="'url(' + img + ')'" class="container-fluid cover d-flex align-items-center justify-content-center bg-light">-->
          <div style="background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0), rgba(0,0,0,0.66)),
          url('../../../assets/images/leaf.jpg') no-repeat center; background-size: cover;"
               class="container-fluid cover d-flex align-items-center justify-content-center bg-light">
          </div>
          <div class="d-flex">
            <img class="img me-2 profile-pic mx-2" src="../../../assets/images/avatar.png">
            <div class="d-block profile-text">
              <p class="name card-text">Hassam shah</p>
              <p class="title card-text">Java Champion</p>
            </div>
          </div>
          <p class="float-end xp px-2" style="margin-top: -30px;">7+ exp</p>
          <br><br>
          <button class="btn float-end mb-2 btn-view">View</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mx-auto mb-4">
        <div class="card-body p-2">
          <div style="background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0), rgba(0,0,0,0.66)),
          url('../../../assets/images/wall.jpg') no-repeat center; background-size: cover;"
               class="container-fluid cover d-flex align-items-center justify-content-center bg-light">
          </div>
          <div class="d-flex">
            <img class="img me-2 profile-pic mx-2" src="../../../assets/images/avatar.png" alt="">
            <div class="d-block profile-text">
              <p class="name card-text">Haseeb shah</p>
              <p class="title card-text">Dotnet Dev</p>
            </div>
          </div>
          <p class="float-end xp px-2" style="margin-top: -30px;">7+ exp</p>
          <br><br>
          <button class="btn float-end mb-2 btn-view">View</button>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mx-auto mb-4">
        <div class="card-body  p-2">
          <!--  <div [style.background-image]="'url(' + img + ')'" class="container-fluid cover d-flex align-items-center justify-content-center bg-light">-->
          <div style="background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0), rgba(0,0,0,0.66)),
          url('../../../assets/images/soft.png') no-repeat center; background-size: cover;"
               class="container-fluid cover d-flex align-items-center justify-content-center bg-light">
          </div>
          <div class="d-flex">
            <img class="img me-2 profile-pic mx-2" src="../../../assets/images/avatar.png" alt="">
            <div class="d-block profile-text">
              <p class="name card-text">Hafi shah</p>
              <p class="title card-text">Angular Dev</p>
            </div>
          </div>
          <p class="float-end xp px-2" style="margin-top: -30px;">7+ exp</p>
          <br><br>
          <button class="btn float-end mb-2 btn-view">View</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mx-auto mb-4">
        <div class="card-body  p-2">
          <!--  <div [style.background-image]="'url(' + img + ')'" class="container-fluid cover d-flex align-items-center justify-content-center bg-light">-->
          <div style="background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0), rgba(0,0,0,0.66)),
          url('../../../assets/images/cover.jpg') no-repeat center; background-size: cover;"
               class="container-fluid cover d-flex align-items-center justify-content-center bg-light">
          </div>
          <div class="d-flex">
            <img class="img me-2 profile-pic mx-2" src="../../../assets/images/avatar.png" alt="">
            <div class="d-block profile-text">
              <p class="name card-text">Qasim shah</p>
              <p class="title card-text">Cyber Security</p>
            </div>
          </div>
          <p class="float-end xp px-2" style="margin-top: -30px;">7+ exp</p>
          <br><br>
          <button class="btn float-end mb-2 btn-view">View</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mx-auto mb-4">
        <div class="card-body  p-2">
          <!--  <div [style.background-image]="'url(' + img + ')'" class="container-fluid cover d-flex align-items-center justify-content-center bg-light">-->
          <div style="background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0), rgba(0,0,0,0.66)),
          url('../../../assets/images/alex.jpg') no-repeat center; background-size: cover;"
               class="container-fluid cover d-flex align-items-center justify-content-center bg-light">
          </div>
          <div class="d-flex">
            <img class="img me-2 profile-pic mx-2" src="../../../assets/images/avatar.png" alt="">
            <div class="d-block profile-text">
              <p class="name card-text">Ahsan Ullah</p>
              <p class="title card-text">Pen tester</p>
            </div>
          </div>
          <p class="float-end xp px-2" style="margin-top: -30px;">7+ exp</p>
          <br><br>
          <button class="btn float-end mb-2 btn-view">View</button>
        </div>
      </div>
    </div>


  </div>
</section>

<svg class="bg-img2-svg2" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 205.04"><defs><style>.cls-1{fill:#fff;}</style></defs><path class="cls-1" d="M0,428.2V354H1920V445.4a915.61,915.61,0,0,1-231.72,69.46C1457.93,551.37,1363,473.27,1142,456.57,829.79,433,778.88,570.77,470.47,558.19,268.84,550,106.31,483.59,0,428.2Z" transform="translate(0 -353.96)"/></svg>
