.close {
  background: red;
  transition: 0.4s;
}
.close:hover {
  background: #d70000;
}
.card {
  max-width: 1000px;
  margin-top: 5vh;
  font-family: poppin med;
  border-radius: 15px;
  box-shadow: 5px 10px 40px #c7c7c7;
}

.card h6 {
  font-family: poppin bold;
  font-size: 1.5rem;
  color: #3c005d;
}

.select-box {
  border: 1px solid #949494;
  border-radius:  5px;
  background: #ffffff;
}
.select-box.invalid {
  border: 1px solid red;
}

.select-box input::file-selector-button {
  background: #3c005d;
  color: white;
  padding: 0 30px;
  border-radius: 3px;
}
button {
  background: #3c005d;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}
button:hover {
  background: #4c0079;
  color: #fff;
}
