<div class="w-100 p-3 d-flex justify-content-end">
  <button (click)="cancel()" class="btn btn-danger" mat-dialog-close>Close</button>
</div>
<div class="container pb-5">
  <div class="card mx-auto p-3 border-0">
    <div class="card-body m-2">
      <div class="d-flex justify-content-center">
        <div class="d-block text-center mb-3">
          <h6>Update Profile</h6>
        </div>
      </div>
      <form [formGroup]="userUpdateForm" (ngSubmit)="onSubmit()">

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">

              <mat-form-field appearance="outline" class="w-100">
                <mat-label>First Name</mat-label>
                <input [(ngModel)]="defaultValue.firstName"
                       matInput type="text" formControlName="firstName" required>
              </mat-form-field>


              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="defaultValue.email"
                       matInput type="email" formControlName="email" required>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Contact</mat-label>
                <input [(ngModel)]="defaultValue.contactNum"
                       matInput type="text" formControlName="contact" required>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Choose User Type</mat-label>
                <mat-select [(ngModel)]="defaultValue.userType" formControlName="userTypeId">
                  <mat-option *ngFor="let types of userTypeList" [value]="types.id">
                    {{ types.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>


              <mat-form-field appearance="outline" class="w-100">
                <mat-label>gender</mat-label>
                <mat-select [(ngModel)]="defaultValue.gender"
                  formControlName="genderId">
                  <mat-option *ngFor="let list of genderList" [value]="list.id">
                    {{ list.name }}
                  </mat-option>

                </mat-select>
              </mat-form-field>

            </div>

            <div class="col-md-6">

              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Last Name</mat-label>
                <input [(ngModel)]="defaultValue.lastName"
                       matInput type="text" formControlName="lastName" required>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Password</mat-label>
                <input [(ngModel)]="defaultValue.password"
                       matInput type="password" formControlName="password" required>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Date of Birth</mat-label>
                <input matInput [(ngModel)]="defaultValue.dob"
                       [matDatepicker]="dobPicker" formControlName="dob" required>
                <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                <mat-datepicker #dobPicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Yearly Experience</mat-label>
                <input [(ngModel)]="defaultValue.totalExperience"
                       matInput type="number" formControlName="yearlyExp" required>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Marital Status</mat-label>
                <mat-select [(ngModel)]="defaultValue.maritalStatusId" formControlName="maritalStatusId">
                  <mat-option *ngFor="let status of maritalStatusList" [value]="status.id">
                    {{ status.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>


            </div>

            <div class="col-md-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>City</mat-label>
                <input [(ngModel)]="defaultValue.city"
                       matInput type="text" formControlName="city" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>About</mat-label>
                <textarea [(ngModel)]="defaultValue.about"
                          formControlName="about" matInput placeholder="Maximum 400 words">
                                </textarea>
              </mat-form-field>
              <div class="accordion accordion-flush" id="accordionFlushExample1">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne1">
                    <button class="accordion-button collapsed accordion-btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne1" aria-expanded="false" aria-controls="flush-collapseOne1">
                      Click If You Want To Update Skills
                    </button>
                  </h2>
                </div>
              </div>
              <div id="flush-collapseOne1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne1"
                   data-bs-parent="#accordionFlushExample1">
                <div class="accordion-body gap-2">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Choose Your Skills</mat-label>
                    <mat-select [ngModel]="defaultValue.userSkills"
                                multiple formControlName="skills">
                      <mat-option *ngFor="let skill of skillsList" [value]="skill.id">
                        {{ skill.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed accordion-btn" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Click If You Want To Update Profile or Cover Image
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                     data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body d-md-flex gap-2">
                    <div class="col-md-6 mb-4">
                      <div class="select-box w-100 p-1"
                           [ngClass]="{
                                'invalid': userUpdateForm.get('profilePic').invalid && userUpdateFormSubmitted,
                                'file-selected': userUpdateForm.get('profilePic').value
                                }">
                        <mat-label class="">Profile Picture [square]</mat-label>
                        <input [ngModel]="defaultValue.profilePic"
                               type="file" (change)="onFileChange($event, 'profilePic')"
                               accept=".jpg, .jpeg, .png" name="profilePic">
                      </div>
                    </div>

                    <div class="col-md-6 mb-4">
                      <div class="select-box w-100 p-1"
                           [ngClass]="{
                                 'invalid': userUpdateForm.get('coverImg').invalid && userUpdateFormSubmitted,
                                 'file-selected': userUpdateForm.get('coverImg').value
                                 }">
                        <mat-label class="">Cover Image [landscape]</mat-label>
                        <input [ngModel]="defaultValue.coverPic"
                               type="file" (change)="onFileChange($event, 'coverImg')"
                               accept=".jpg, .jpeg, .png" name="coverImg">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <button type="submit" class="w-100">
                Update
              </button>
            </div>

          </div>

        </div>
      </form>
    </div>
  </div>
</div>
