
<section class="container mb-5">

  <form class="pt-3" [formGroup]="formValidation.registrationForm" (ngSubmit)="updateCompany()">

    <div class="row m-4 shadow p-2 form-box">
      <div class="w-100 d-flex justify-content-end">
        <div mat-dialog-close (click)="actionClosed()" class="btn btn-danger mt-1">Cancel</div>
      </div>
      <h5 class="text-center mt-1 mb-3">Update Your Company Profile</h5>
      <p class="text-center p-2" [ngClass]="isAccountUpdated ? 'text-white bg-success d-block' : 'text-danger d-block'">
        {{displayMsg}}
      </p>
      <div class="col-md-6 mt-3">
        <label class="mx-2">Enter Company Name</label>
        <input [(ngModel)]="storedData.companyName" formControlName="companyName" id="companyName" type="text" class="form-control mt-1 mb-2 p-2" required>
        <div class="form-text text-danger mb-1 mx-2" *ngIf="formValidation.name.errors?.['required'] && (formValidation.name.touched || formValidation.name.dirty)">
          Company Name is required
        </div>
        <div class="form-text text-danger mb-1 mx-2" *ngIf="formValidation.name.errors?.['minlength'] && (formValidation.name.touched || formValidation.name.dirty)">
          Company Name is too short
        </div>
        <div class="form-text text-danger mb-1 mx-2" *ngIf="formValidation.name.errors?.['pattern'] && (formValidation.name.touched || formValidation.name.dirty)">
          Name should start with alphabet
        </div>
        <label class="mx-2 mt-3">Select Company Type</label>
        <select [(ngModel)]="storedData.companyType" formControlName="companyType" id="companyType" class="w-100 mb-2 p-2" required>
          <option *ngFor="let companyType of companyTypes" [value]="companyType.name">{{ companyType.name }}</option>
        </select>

        <div class="form-text text-danger mb-2 mx-2" *ngIf="formValidation.type.errors?.['required'] && (formValidation.type.touched || formValidation.type.dirty)">
          Company type required
        </div>


        <div class="form-text text-danger mb-2 mx-2" *ngIf="formValidation.type.errors?.['required'] && (formValidation.type.touched || formValidation.type.dirty)">
          Company type required
        </div>



        <label class="mx-2">Enter Email</label>
        <input [(ngModel)]="storedData.companyEmail" formControlName="companyEmail" id="companyEmail" type="email" class="form-control mb-2 p-2" required>
        <div class="form-text text-danger mb-2 mx-2" *ngIf="formValidation.email.errors?.['required'] && (formValidation.email.touched || formValidation.email.dirty)">
          Email required
        </div>
        <div class="form-text text-danger mb-2 mx-2" *ngIf="formValidation.email.errors?.['email'] && (formValidation.email.touched || formValidation.email.dirty)">
          Email is invalid
        </div>
        <div class="form-text text-danger mb-2 mx-2" *ngIf="formValidation.email.errors?.['pattern'] && (formValidation.email.touched || formValidation.email.dirty)">
          Use complete format
        </div>
        <label class="mx-2">Enter Password</label>
        <input [(ngModel)]="storedData.companyPassword" formControlName="companyPassword" id="companyPassword" type="password" class="form-control mb-2 p-2" required>
        <div class="form-text text-danger mb-2 mx-2" *ngIf="formValidation.password.errors?.['required'] && (formValidation.password.touched || formValidation.password.dirty)">
          password required (minimum 6)
        </div>
        <div class="form-text text-danger mb-2 mx-2" *ngIf="formValidation.password.errors?.['minlength'] && (formValidation.password.touched || formValidation.password.dirty)">
          password length should be (minimum 6)
        </div>
        <label class="mx-2">Enter Contact No</label>
        <input [(ngModel)]="storedData.contactNum" formControlName="contactNo" id="contactNo" type="tel" class="form-control mb-3 p-2" required>
        <div class="form-text text-danger mb-2 mx-2" *ngIf="formValidation.contactNumber.errors?.['required'] && (formValidation.contactNumber.touched || formValidation.contactNumber.dirty)">
          contactNo Required
        </div>
        <div class="form-text text-danger mb-2 mx-2" *ngIf="formValidation.contactNumber.errors?.['minlength'] && (formValidation.contactNumber.touched || formValidation.contactNumber.dirty)">
          contactNo is short
        </div>
        <div class="form-text text-danger mb-2 mx-2" *ngIf="formValidation.contactNumber.errors?.['maxlength'] && (formValidation.contactNumber.touched || formValidation.contactNumber.dirty)">
          contactNo is long
        </div>
        <div class="form-text text-danger mb-2 mx-2" *ngIf="formValidation.contactNumber.errors?.['pattern'] && (formValidation.contactNumber.touched || formValidation.contactNumber.dirty)">
          Invalid contact No
        </div>
      </div>

      <div class="col-md-6 mt-3">
        <label class="mx-2 mt-1">Enter Company Description</label>
        <textarea [(ngModel)]="storedData.companyDescription" formControlName="companyDescription" id="companyDescription"  placeholder="(Max - 400 Characters)" class="form-control" rows="6" required></textarea>
        <div class="form-text text-danger mb-2 mx-2" *ngIf="formValidation.description.errors?.['required'] && (formValidation.description.touched || formValidation.description.dirty)">
          Description required
        </div>
        <div class="form-text text-danger mb-2 mx-2" *ngIf="formValidation.description.errors?.['pattern'] && (formValidation.description.touched || formValidation.description.dirty)">
          Invalid Description
        </div>
        <div class="form-text text-danger mb-1 mx-2" *ngIf="formValidation.description.errors?.['maxlength'] && (formValidation.description.touched || formValidation.description.dirty)">
          Description is long - must not exceed 400 character
        </div>
        <label class="mx-2 mt-4">Enter City</label>
        <input [(ngModel)]="storedData.companyLocation" formControlName="companyLocation" id="companyLocation" type="text" class="form-control p-2" required>
        <div class="form-text text-danger mb-2 mx-2" *ngIf="formValidation.location.errors?.['required'] && (formValidation.location.touched || formValidation.location.dirty)">
          company location required
        </div>
        <div class="row">
          <div class="col-md-5">
            <label class="mx-2 mt-4">Select Country</label>
            <select style="margin-top: 7px" [(ngModel)]="storedData.countryName" formControlName="country" id="country" class="w-100 mb-3 p-2" required>
              <option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</option>
            </select>
            <div class="form-text text-danger mb-2 mx-2" *ngIf="formValidation.country.errors?.['required'] && (formValidation.country.touched || formValidation.country.dirty)">
              Country required
            </div>
          </div>

          <div class="col-md-7">
            <div class="custom-file mt-4">
              <label class="custom-file-label mt-3">Profile Pic with equal size</label>
              <input [(ngModel)]="storedData.profilePic" formControlName="selectImg" id="selectImg" (change)="onFileSelected($event)" type="file" class="custom-file-input w-100" required accept="image/png, image/jpeg" [disabled]="true">
            </div>
            <div class="form-text text-danger mb-2 mt-3 mx-2" *ngIf="formValidation.profileImg.errors?.['required'] && (formValidation.profileImg.touched || formValidation.profileImg.dirty)">
              select equal size image
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-12">
      <button class="btn w-100 mb-2 mt-3" mat-dialog-close type="submit" [disabled]="isFormInvalid()">Update Your Account</button>
      </div>
    </div>

  </form>
</section>



