
h3 {
  font-size: 1.2rem;
  color: #390070;
  font-family: "poppin bold", serif;
}
p {
  color: #6b6b6b;
  font-family: poppin light;
}
input:focus, input:hover {
  outline: none;
  box-shadow: none;
}

input::placeholder {
  color: #8a88f0;
  font-family: poppin light;
}
input {
  border:  1px solid #170031;
}
button {
  border-radius: 0;
  letter-spacing: 1px;
}
