<!--
REQUIRED DATA
company Name,
Company Type,
Email,
Contact,
Location,
Country,
Description,
Profile Picture
-->

<section class="profileTemplate container" *ngIf="storeCompanyDataByRole">
  <div class="card border-0">
    <div class="banner w-100 d-flex justify-content-around">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="d-flex setting justify-content-between">
      <div routerLink="/home" class="back mt-3">
        <i
          style="font-size:1.2rem; cursor: pointer"
          class="bi bi-arrow-left-square-fill mx-2"></i>
        <span>Back</span>
      </div>
      <div class="back">
        <span>Actions</span>
      <button class="btn" mat-button [matMenuTriggerFor]="beforeMenu">
        <i style="font-size:1.2rem; padding: 0 4px;"
           class="bi bi-list rounded-1 text-white action">

        </i>
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before" class="gap-1">
        <button
          (click)="updateDialog()"
          class="setting-btn border-0 btn text-primary p-2 mt-0 mx-auto rounded-0 w-100">
          Update Account
        </button>
        <button
          routerLink="/announcement"
          class="setting-btn border-0 btn text-success p-2 mt-0 mx-auto rounded-0 w-100">
          Announce Job
        </button>
        <button
          (click)="deleteDialog()"
          class="setting-btn border-0  btn text-danger p-2 mt-0 mx-auto rounded-0 w-100">
          Delete Account
        </button>
      </mat-menu>
    </div>
    </div>
  </div>
  <div class="card border-0">
    <div class="profilePic d-flex w-100">
      <img class="img img-thumbnail mx-auto shadow border-0" src="{{storeCompanyDataByRole.profilePic}}" />
    </div>
    <div class="companyName d-flex">
      <h3 class="mx-auto mt-2">{{storeCompanyDataByRole.companyName}}</h3>
    </div>
    <div class="companyType d-flex">
      <p class="mx-auto">{{storeCompanyDataByRole.companyType}}</p>
    </div>
  </div>
  <div class="card border-0 d-flex userInfo">
    <div class="row">
      <div class=" col-lg-6">
        <div class="p-2 mt-3">
          <div class=" text-start">
            <p><i class="bi bi-envelope-fill mx-2"></i>{{storeCompanyDataByRole.companyEmail}}</p>
            <br>
            <p><i class="bi bi-phone-fill mx-2"></i>{{storeCompanyDataByRole.contactNum}}</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-6">
        <div class="p-2 mt-3">
          <p class="card-text "><i class="bi bi-geo-alt-fill mx-2"></i>{{storeCompanyDataByRole.companyLocation}}</p>
          <br>
          <p><i class="bi bi-globe-asia-australia mx-2"></i>{{storeCompanyDataByRole.countryName}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card description border-0 w-100 mt-4 p-3">
    <h3 class="card-title mt-2"><i class="bi bi-bricks mx-2"></i>Description</h3>
    <p class="card-text text-justify p-3">
      {{storeCompanyDataByRole.companyDescription}}
    </p>
  </div>
</section>
