<section class="header">
    <div class="header-text text-center p-5 position-relative">
        <div class="position-absolute top-50 start-50 translate-middle">
        <h2 class="mb-4">Companies</h2>
        <h2 class="mb-4">You Must</h2>
        <h2 style="line-height: 50px">Explore To Develop</h2>
    </div>
    </div>
    <div class="bg-img1"></div>
</section>

<!-- Curve SVG  start-->
<svg style="margin-top: -3px;" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 172.84">
    <path d="M0,473v6C217.73,642.55,373.57,657.89,477,640c107.91-18.66,305.22-98.82,439.19-112,68.28-6.71,137.55-7.51,137.55-7.51,130.28-1.66,191.36,12.18,291.54,19,134.21,9.14,328.48,5,574.72-60.5v-6Z" transform="translate(0 -472.99)" style="fill:#85ffbd"/>
</svg>
<!-- Curve SVG End -->


<section class="search-form m-auto container pb-5">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search Company"
      [(ngModel)]="filteredString"
    >
    <div class="input-group-append">
      <button class="btn btn-primary" type="button"><i class="bi bi-search-heart-fill"></i></button>
    </div>
  </div>
</section>

<!-- Curve SVG  start-->
<svg class="svg-curve-white1 mb-3" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 172.84">
    <path d="M1920,645.83v-6c-217.73-163.55-373.57-178.89-477-161-107.91,18.66-305.22,98.82-439.19,112-68.28,6.71-137.55,7.52-137.55,7.52C736,600,674.9,586.14,574.72,579.32c-134.21-9.14-328.48-5-574.72,60.5v6Z" transform="translate(0 -472.99)" style="fill:#fff"/>
</svg>
<!-- Curve SVG End -->

<section class="company-card-section container">
  <div class="row">


    <div class="col-lg-3 col-sm-6 p-3" *ngFor="let card of CompanyCards | filter:filteredString">

      <div class="card text-center mx-auto">
        <div class="card-body">
          <img src="{{card.profilePic}}" class="mb-2 mx-auto d-block" loading="lazy"  alt="profile Pic"/>
          <h5 class="card-title">{{card.companyName}}</h5>
          <p class="card-text company-name">{{card.companyType}}</p>
          <p class="country-name">{{card.country}}</p>
          <div class="d-flex justify-content-around">
            <button class="btn btn-apply" *ngIf="isRoleCompany()">Apply</button>
            <button class="btn btn-view" id="{{card.compnanyId}}" (click)="onButtonClick(card.compnanyId)">View</button>
          </div>
        </div>
      </div>
    </div>


    <p class="mx-auto w-100 no-found text-center" *ngIf="!CompanyCards || CompanyCards.length <= 0" >
      No Companies Found
      <i class="bi bi-emoji-frown"></i>
    </p>

  </div>
</section>




<!-- Curve SVG  start-->
<svg class="svg-curve-white2" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 172.84">
    <path d="M0,473v6C217.73,642.55,373.57,657.89,477,640c107.91-18.66,305.22-98.82,439.19-112,68.28-6.71,137.55-7.51,137.55-7.51,130.28-1.66,191.36,12.18,291.54,19,134.21,9.14,328.48,5,574.72-60.5v-6Z" transform="translate(0 -472.99)" style="fill:#ffffff"/>
</svg>
<!-- Curve SVG End -->
