.card {
    max-width: 500px;
    margin-top: 20vh;
    font-family: poppin med;
    border-radius: 15px;
}

.card h6 {
    font-family: poppin bold;
    font-size: 1.5rem;
    color: #00D4EA;
}
input {
    border-radius: 50px;
    border: 1px solid #00D4EA;
}
input:focus {
    box-shadow: none;
}
input::placeholder {
    color: #00d3ea71;
    font-family: poppin light;
}

button {
    background: #00D4EA;
    color: #fff;
    border-radius: 50px;
}
button:hover {
    background: #00cce2;
    color: #fff;
    box-shadow: 1px 8px 15px #00d3ea36;
}