<nav class="navbar fixed-top navbar-expand-lg text-center">
    <div class="container">
      <a class="navbar-brand logo text-danger">PMS</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav w-100 me-auto mb-2 mb-lg-0">
          <div class="text-center w-100 d-md-flex justify-content-center">
          <li class="nav-item">
            <a class="nav-link home p-2" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link companies p-2" routerLink="/companies">Companies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link feed p-2" routerLink="/feed">Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2 profile" *ngIf="(isLoggedIn$ | async) === false" (click)="assignRole()">Profile</a>
          </li>
          </div>
        </ul>

        <form class="d-flex justify-content-center" *ngIf="(isLoggedIn$ | async)" >
          <div class="dropdown" >
            <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-person-fill person"></i>
            </button>
            <div class="dropdown-menu border-0 shadow" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item ddItems" (click)="assignRole()">Profile</a>
              <a class="dropdown-item ddItems" (click)="notifactionRoute()">Notifications</a>
              <a class="dropdown-item text-center pb-0" (click)="logOut()">
                <button class="btn btn-danger logOut w-100 text-white">
                Log Out
                </button>
              </a>
            </div>
          </div>
        </form>
        <button class="btn signUp" *ngIf="(isLoggedIn$ | async) === false" routerLink="/auth">Sign Up</button>
      </div>
    </div>
  </nav>
