nav {
    background: linear-gradient(180deg, #ffffffaf 0%, #ffffff48 100%);
    backdrop-filter: blur(10px);
    font-family: poppin med;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.055);
}
.navbar-toggler {
    border-radius: 50px;
}
.navbar-toggler-icon {
    font-size: 1rem;
}

.logo {
    font-family: poppin bold;
}
ul {
    font-family: poppin light;
    letter-spacing: 1px;
}
li > a {
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin: 2px;
    font-family: poppin med;
}
li > a:hover{color: white}
li > .home:hover {
    background: #ff8244bd;
}
li > .companies:hover {
  background: #0095ff;
}
li > .feed:hover {
  background: #2fff00;
}

li > .profile:hover {
  background: #ff0062;
  cursor: pointer;
}


.signUp {
    border-radius: 50px;
    font-family: poppin med;
    background: rgb(24, 148, 231);
    color: #fff;
    width: 100px;
    font-size: 0.8rem;
}
.signUp:hover {
    background: rgb(16, 118, 183);
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }

  .dropdown>.dropdown-toggle:active {
      pointer-events: none;
  }
  .person {
    background: #646464;
    border-radius: 100px;
    padding: 6px 10px;
    color: #ffffff;
  }

  .dropdown-menu {
    width: 200px;
    margin-left: -70px;
  }
  .dropdown-menu a {
    padding: 8px 10px;
  }
.dropdown-item:hover {
  background: white;
}
.ddItems:hover {
  color: #ff8244bd;
  cursor: pointer;
  background: #f3f3f3;
}
